
/* =========================  FADE IN AND OUT TEXT  ========================= */

.hero { position:relative; width:100%; height:100dvh; overflow:hidden; }
.hero-img { width:100%; height:100%; object-fit:cover; }

/* ----- animation states ----- */
.textfade{
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);  /* centres it perfectly */
     text-align:center;
     z-index:3;                        /* above the images */
     pointer-events:auto;
     line-height:1.5;
     opacity:0;
     transition:opacity 1.5s ease-out, transform 1.5s ease-out;
}

.textfade.in-view{               /* when IntersectionObserver adds this */
    opacity:1;
    transform:translate(-50%,-50%);    /* final centred position */
}

.textfade h1{ font-size:clamp(2rem, 15vw, 15rem);
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: -2px;
    color: #222222;
    margin:0;
 }

.textfade span {
    font-weight: bolder;

 }

.t h1:hover{
    color: #ffcc00;
 }

.k h1:hover{
    color: #70b4a8;
}
