
/* =========================  FRONT MATTER STYLING  ========================= */

.front {
    font-weight: 400;
    font-style: italic;
    font-size: large;

}

.front2 {
    font-weight: 300;
    font-style: italic;
    font-size: large;
}

