<!-- FOOTER -->
<footer>
    <div style="padding-top: 30px" class="container">
        <hr>
        <p> I will keep improving as I go. Stay Tuned!</p>
       <!-- <p> I don't think I'll be needing a newsletter subscription system...</p> -->
        <p> You can also find me here: <br>
        <a style="padding-left: 10px; padding-right: 20px;" href="https://github.com/ineedsleepfs"><i style="font-size:50px" class="fa">&#xf09b;</i></a>
        <a href="https://www.linkedin.com/in/karmen-tsang-920b86274/"><i style="font-size:50px; color: #0072b1"
                                                                         class="fa">&#xf0e1;</i></a>
        </p>
     <p>&#169 2023 KT &#8212; 00 </p>
    </div>
</footer>