<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/assets/css/light.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">
    <title>k.</title>
</head>

<div class="layout">
    <body>


    <!-- MAIN CONTENT -->
    <div class="container">
        <a href="index.html" style="text-decoration: none;">k. tsang</a><br><br>
        <li><a style=" font-size: 1em;" href="about.html">about</a></li>
        <li><a style=" font-size: 1em; padding-top: 10px;" href="contact.html">contact</a></li>
        <li><a style=" font-size: 1em;" href="album.html">gallery</a></li>
        <a style="font-size: 1em; " id="theme-toggle"><i class="fa fa-sun-o" aria-hidden="true"></i><i
                class="fa fa-moon-o" aria-hidden="true"></i></a>

        <br>
        <br>
        <br>
        <br>
        <br>

        {% include "slides.html" %}

        <br>
        <br>
        <br>
        <h2>my portfolio.</h2>
        <h3 style="padding-left: 60px;">created using my honours project.<span class="blink">_</span></h3>
        <br>
        <br>


        <p>An aspiring digital designer and web developer &#8212;
            I have always loved designing and creating websites,
            wanting to learn more and expand on my current skill set.
            <br>
            <br>
            The biggest step to all of this is my <b>Honours project!</b>
            <br>


        </p>

        <div class="container">
            {% if recent %}
            {% for page in recent %}
            <li style="font-size: 20px"> | <a style="font-size: 20px" href="{{ page.url }}">{{ page.title }}</a></li>
            <br>
            {% endfor %}
            {% endif %}
        </div>

    </div>

    </body>
    {% include "footer.html" %}
</div>
</html>