/*--- device friendly sizes ---*/
/* mobile */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .container {
        padding: 14px;
        font-size: 10px;
    }
}

/* tablet */
@media screen and (min-device-width: 600px)
and (max-device-width: 1024px) {
    .container {
        padding: 20px;
        font-size: 16px;
    }
}

/* desktop */
@media screen and (min-device-width: 1024px) {
    .container {
        padding: 24px;
        font-size: 19px;
    }
}


/* For mobile landscape view */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
    .container {
        padding: 14px;
        font-size: 14px;
    }
}

/*--- create the basic blog layout ---*/

* {
    font-family: "Manrope", serif;
}

body {
    text-align: justify;
}


.layout {
    background-color: black;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.heading {
    padding-top: 4em;
    font-weight: bolder;
    font-size: 2em;
}

.heading h2 {
    margin-top: 0;
}

/*--- FRONT MATTER ON EACH PAGE ---*/

.front {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;

}

.front2 {
    font-weight: 300;
    font-style: italic;
    font-size: large;
}

/*--- NEW HOME PAGE ---*/

.links {
    font-weight: bold;
    padding-bottom: 2px;
    font-size: 120%;
}

.links a a:hover {
    color: red;
    text-decoration: none;
}

li {
    list-style: none;
    padding-bottom: 3px;
}

.description {
    font-style: italic;
    font-size: inherit;
}

.date {
    font-size: inherit;
    font-weight: 80;
}


/*--- NORMAL ---*/
body {
    background-color: black;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overscroll-behavior-x: none;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin: 0;
    }

h3 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}



p {
    color: white;
    text-align: justify;
    font-size: 1.2em;
}

.p-weight {
    font-weight: 100;
}

.padding {
    padding: 1rem 50rem;
}

.float {
    display: inline;
}

a {
    text-align: justify;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.7em;
    padding: 10px;
}

.nav a:hover {
    color: #f1a4ae;
}

.one a:hover{
    color
}

em {
    font-weight: 400;
}

/*--- SLIDESHOW ---*/
.slideshow {
    color: #e7e7e7;
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    }

.center{
    text-align: center;
    position: center;
}

.bg {
 background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    padding-bottom: 100px;
    padding-top: 50px;
    border: 1px solid slategrey;

}

.pad{
    padding: 100px;
}

.slideshow img {
    max-width: 100%;
}


object {
    max-width: 100%;
    max-height: 100%;

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}


/*--- Enlarge Image ---*/
.pointer {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: xxx-large;
    position: relative;
}

.image {
    padding-bottom: 70%;
    padding-top: 10%;
}

.resize {
    max-width: 70%;
    max-height: 70%;
    margin-left: 70px;

}

/*--- Photo Album --*/

form {
    position: absolute;
    width: 300px;
    margin: auto;
}

.album_button, #submit {
    font-size: 0.875em;
    width: 250px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: auto;
    background: transparent;
    outline: none;
    color: #000000;
    border: 1px solid #000000;
}

.album_button:hover, #submit:hover {
    background: slategrey;
    color: #e2dedb;
}

/*--- The Modal ---*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    padding-left: 37%;
    padding-top: 8%;
    max-width: auto;
    height: auto;
}

.full-image {
    max-width: 50%;
    max-height: auto;
    position: center;

}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.up {
    float: right;
}
